/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/********************************************************************/
.wrap{
    margin: 0 auto;
    width: 1024px;
}


.header{
    background-image: url('../img/Hero.png');
    min-height: 380px;
    position: relative;
}

.header h1{
    transform: translateY(89px);
    text-align: center;
    font-family: "PingFangTC-Regular";
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 3.89px;
}

.header select{
    /*改變右邊箭頭樣式*/
    appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
    font-size: 18px;
    width: 452px;
    height: 48px;
    position: absolute;
    right: 279px;
    bottom: 107px;
    background-image: url("../img/icons_down.png");
    background-repeat: no-repeat;
    background-position: 98% center;
    background-color: rgba(255, 255, 255, 0.70);
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    color: black;
}

.hotZone{
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    width: 800px;
    height: 112px;
    position: absolute;
    top: 352px;
    margin-left: 112px;
    background: #FFFFFF;
}
.hotZone h2{
    margin: 1em;
    font-size: 18px;
    display: block;
}

.hotZone li{
    float: left;
    margin: 0 10px;
}

/*按鈕*/
.hotZone .btn{
    width: 130px;
    height: 42px;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 5px;
}
.hotZone .btn:hover{
    box-shadow: 3px 3px rgba(0.4,0.4,0.4,0.4);
}
.btn1{
    background: #8A82CC;
    margin-left: 30px;
}
.btn2{
    background: #FFA782;
}
.btn3{
    background: #F5D105;
}
.btn4{
    background: #559AC8;
}

.dashLine{
    border-top: 1px dashed #559AC8 ;
    margin-top: 133px;
}


.place{
    position: relative;
    display: inline-block;
    width: 465px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.place .photo{
    width: 464px;
    height: 155px;
}

.place p{
    font-family: serif;
}
.name{
    position: absolute;
    top: 117px;
    left: 22px;
    color: #FFFFFF;
    font-size: 24px;
}
.Zone{
    position: absolute;
    top: 125px;
    right: 24px;
    color: #FFFFFF;
    font-size: 16px;
}
.openTime, .location, .tel{
    margin-left: 20px;
    margin-top: 12px;
    font-size: 16px;
    text-align: left;
}
.tel{
    padding-bottom: 22px;
}
.ticket{
    position: absolute;
    top: 235px;
    right: 24px;
}

.openTime img{
    width: 13px;
    margin-right: 5px;
}
.location img{
    width: 13px;
    margin-right: 5px;
}
.tel img{
    width: 13px;
    margin-right: 5px;
}
.nowZone{
    text-align: center;
    margin-top: 76px;
    font-size: 36px;
    color: #8A82CC;
    margin-bottom: 24px;
}

.footer{
    width: 100%;
    height: 90px;
    background: #559AC8;
    margin-top: 107px;
    text-align: center;
}
.footer span{
    display: inline-block;
    color: #FFFFFF;
    margin-top: 24px;
    font-size: 14px;
}
